{% load static %}
<html>
    <head>
        <title>My Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
    </head>

    <body background-color : #7FFFD4; >
        <header>
            {% block content %} {% endblock %}
        </header>
            {% include 'navbar.html' %}

        <div id="fotoku">
            <img src = "https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42059178_103336817302689_3660655597667221504_n.jpg?_nc_cat=101&oh=3d2f19ac1f477699afe5614aded15a7a&oe=5C631340"  height="300" width="200" class="img-thumbnail" alt="Cinque Terre">
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;" id="card1">
            <div class="card-block">
                <div class="card-header">Biodata</div>
                    <div class="card-body">
                    <h5 class="card-title">Oktafia Sutanti</h5>
                    <p class="card-text">11 Oktober 1999</p>
                    <p class="card-text">Jln. Abdulrahman II No.108 Cibubur</p>
                    <p class="card-text">081299165668</p>
                    <p class="card-text">oktafia99@gmail.com</p>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="card bg-light mb-3" style="max-width: 25rem;" id="card2">
            <div class="card-block">
                <div class="card-header">Biodata</div>
                    <div class="card-body">
                      <h5 class="card-title">Pendidikan</h5>
                      <p class="card-text">2005-2011 SDN Cibubur 02 Pagi</p>
                      <p class="card-text">2011-2014 SMPN 91 Jakarta</p>
                      <p class="card-text">2014-2017 SMAN 39 Jakarta</p>
                      <p class="card-text">2017-sekarang Universitas Indonesia</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="batas1">
        </div>

        <div class="card bg-light" id="deskripsi">
            <div class="card-block">
                <div class="card-body text-justify">
                    <p class="card-text">Saya merupakan mahasiswa Fakultas Ilmu Komputer Universitas Indonesia dengan Program Studi Sistem Informasi. Saya merupakan orang yang tertarik dengan isu Sosial yang ada di masyarakat. Saya memiliki hobi menonton film.</p>
                </div>
            </div>
        </div>

        <br>
        <div class="card bg-light">
            <div class="card-block">
                <div class="card-body text-center">
                    <p class="card-text">Portfolio</p>
                </div>
            </div>
        </div>
        
        <div class="card" style="width:250px" id="gb1">
            <div class="card-block">
                <img class="card-img-top" src="https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42094428_103481830621521_1326954017527431168_n.jpg?_nc_cat=109&oh=45a14c83a11f981c9df99db7126aa39d&oe=5C35518A" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Pengalaman Menggunakan Java</h4>
                  <p class="card-text" text-align:center>Membuat Match Game</p>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;" id="gb2">
            <div class="card-block">
                <div class="card-header">Pengalaman</div>
                    <div class="card-body">
                        <h5 class="card-title">Pengalaman Organisasi dan Kepanitiaan</h5>
                        <p class="card-text">2018 - Staff BEM Departemen Pengabdian Masyarakat Fasilkom UI</p>
                        <p class="card-text">2018 - Staff FUKI Biro Kesekretariatan dan Kemakmuran Musholla</p>
                        <p class="card-text">2018 - Project Officer Rumah Belajar Fasilkom</p>
                        <p class="card-text">2018 - Wakil Penanggung Jawab Medis PMB 2018</p>
                        <p class="card-text">2018 - Wakil Penanggung Jawab Danus SIWAK</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width:250px" id="gb3">
            <div class="card-block">
                <img class="card-img-top" src="https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42182215_103525357283835_3190981398928293888_n.jpg?_nc_cat=108&oh=24ffa9c720aa906adfacc52c3291f501&oe=5C35CD3A" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Pengalaman Menggunakan Python</h4>
                  <p class="card-text" text-align:center>Membuat Piano</p>
                </div>
            </div>
        </div>
        
    </body>
</html>