{% load static %}
<html>
    <head>
        <title>My Profile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
      </head>

      <body background-color : #7FFFD4; >
        <header>
            {% block content %} {% endblock %}
        </header>
            {% include 'navbar.html' %}
 
        <form class="form-horizontal" action="/action_page.php" >
            <form>
                <div class="form-row" id="buku">
                <label class="control-label col-sm-1" for="pwd"><b>Name :</b> </label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
              </form>
            <div class="form-group row" id="buku">
                <label for="example-date-input" class="col-1 col-form-label"><b>Date :</b> </label>
                <div class="col-sm-3">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
            <div class="form-group row" id="buku">
              <label class="control-label col-sm-1" for="pwd"><b>Email :</b></label>
              <div class="col-sm-3"> 
                <input type="password" class="form-control" id="pwd" placeholder="Enter your email">
              </div>
            </div>
            <div class="form-group row" id="buku">
                <label class="control-label col-sm-1" for="pwd"><b>Subject :</b></label>
                <div class="col-sm-3"> 
                  <input type="password" class="form-control" id="pwd" placeholder="Enter your Subject">
                </div>
            </div>
            <div class="form-group" id="buku">
                    <label for="exampleTextarea"><b>Message</b></label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </div>
            <div class="form-group" id="submit"> 
              <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>

    </body>
</html>