{% load static %}
<html>
    <head>
        <title>Movie</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
    </head>

    <body background-color : #7FFFD4; >
        <header>
            {% block content %} {% endblock %}
        </header>
            {% include 'navbar.html' %}

          <div class="card border-dark mb-3" style="max-width: 18rem;" id="card4">
            <div class="card-block">
                <div class="card-header">About Movie</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Rekomendasi Film</h5>
                  <p class="card-text">Saya akan memberikan rekomendasi beberapa film yang bagus menurut saya untuk kamu! Kamu juga dapat menonton trailer dari Film nya.</p>
                </div>
            </div>
        </div>

        <input type="text" placeholder="Name Movie" id="cari">
        <input type = "submit" value="Search" id="cari">

        <div id="batas2">
        </div>

        <div class="card bg-light" id="film1">
            <div class="card-block">
                <div class="card-body text-center">
                    <p class="card-text">Ready Player One</p>
                </div>
            </div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="654" height="368" class="embed-responsive-item" src="https://www.youtube.com/embed/dtwpjnuaVTE" allowfullscreen ></iframe>
        </div>

        <div class="card bg-light" id="film1">
                <div class="card-body text-center">
                    <p class="card-text">Now You See Me 2</p>
                </div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="654" height="368" class="embed-responsive-item" src="https://www.youtube.com/embed/4I8rVcSQbic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
        </div>

        <div class="card bg-light" id="film1">
                <div class="card-body text-center">
                    <p class="card-text">The Maze Runner</p>
                </div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="654" height="368" class="embed-responsive-item" src="https://www.youtube.com/embed/AwwbhhjQ9Xk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
        </div>

    </body>
</html>