{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
    </head>


    <body background-color : #7FFFD4; >
            
        <header>
            {% block content %} {% endblock %}
        </header>
            {% include 'navbar.html' %}    

        <div class="card bg-light" id="tulis">
                <div class="card-body text-center">
                    <div class="col-sm-12">
                        <div class="card-block">
                            <p style="font-size:2vw;" class="card-text">Hello, I am Okta!</p>
                            <p style="font-size:2vw;" class="card-text">Welcome to My Website!</p>
                        </div>
                    </div>
                </div>
        </div>

    </body>
</html>