{% load static %}
{% block content %}
    <html>
        <!-- Membuat Menu Bar -->
        <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="nav-link active" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="beranda.html">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="beranda.html">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="social.html">Social Journey</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="film.html">About Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="buku.html">Guest Book</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'jadwalinput' %}">Jadwal </a>
                </li>
				<li class="nav-item">
                  <a class="nav-link active" href="{% url 'jadwallist' %}"> Lihat Jadwal </a>
                </li>
				
        </ul>
        {% endblock %}
</html>