{% load static %}

<html>
    <head>
        <title>Sosial Jouney</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
      </head>
    <body background-color : #7FFFD4; >
        

        <header>
            {% block content %} {% endblock %}
        </header>
            {% include 'navbar.html' %}
  

          <div id="pocman">
                <img src = "https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42104937_103545850615119_7890666564196761600_o.jpg?_nc_cat=108&oh=52ddc713a923318f7d660b345de5ac13&oe=5C1E6CB7"  height="400" width="500" class="img-thumbnail" alt="Cinque Terre">
          </div>

          <div class="card bg-light mb-3" style="max-width: 25rem;" id="card3">
                <div class="card-header">Rumah Belajar Fasilkom</div>
                    <div class="card-body">
                      <h5 class="card-title">PocMan 2018</h5>
                      <p class="card-text"> Rumah Belajar merupakan kegiatan belajar mengajar yang diadakan oleh BEM Departemen Pengabdian Masyarkat Fasilkom UI.  Saya merupakan Project Officer dari kegiatan Rumah Belajar ini. Tahun ini Rumah Belajar membawa nama PocMan sebagai nama kegiatannya dan mengangkat tema Plant the Future. </p>

                    </div>
                </div>
            </div>
            
            <div id="batas2">
            </div>

            <div class="card bg-light" id="deskripsi2">
                    <div class="card-body text-justify">
                        <p class="card-text">Kegiatan Rumah Belajar PocMan diadakan setiap hari minggu di kampung Lio, Depok Baru.</p>
                    </div>
            </div>

            <a class="btn btn-secondary btn-lg active" href="https://docs.google.com/forms/d/e/1FAIpQLSc4O4Mzk1ms21Z423IsTcCAs-vauVjxm5iiwQZb9TGAMt4J-A/viewform?c=0&w=1"  role="button" aria-pressed="true" id="daftar">Daftar PocMan</a>
            
            <div id="pocman2">
              <img src = "https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42134398_103546487281722_3779334215594672128_o.jpg?_nc_cat=110&oh=70a6b25b530448b9bfe45a09ab001733&oe=5C17C9FF"  height="300" width="400" class="img-thumbnail" alt="Cinque Terre">
            </div>  
        

    </body>
</html>