{% load static %}

{% include 'navbar.html' %}
<head>
    <title>Jadwal Kegiatan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
</head>

    
{% block content %}
    <div class="main-div">
        <div class="container mx-auto d-block">
            {% if schedule %}
                <table class="table table-hover table-striped" align="center" style="text-align: center">
                    
                    <thead>
                        <tr>
                            <th scope="col">Nama Kegiatan</th>
                            <th scope="col">Tempat Kegiatan</th>
                            <th scope="col">Kategori kegiatan</th>
                            <th scope="col">Waktu kegiatan</th>
                        </tr>
                    </thead>
                    
                    {% for data in schedule %}
                        <tr>
                            <td scope="row">{{ data.kegiatan }}</td>
                            <td scope="row">{{ data.tempat }}</td>
                            <td scope="row">{{ data.kategori }}</td>
                            <td scope="row">{{ data.tanggal|date:"l" }}, {{ data.tanggal }}</td>
                        </tr>
                    {% endfor %}

                
                </table>
                <form action="{% url 'hapusjadwal' %}" >
                    {% csrf_token %}
                    
                    <button type='submit' class='btn'>Delete All</button>
                    </form>
            
            {% else %}
            <br>
                <h1 class="text-main">Tidak Ada Jadwal Kegiatan</h1>
            {% endif %}
        </div>
    </div>



{% endblock content %}
