{% load static %}


{% include 'navbar.html' %}
<head>
<title>Jadwal Kegiatan</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'editing.css' %}">
</head>

<body>
<br> <br>
<h3><center>Schedule</center></h3>
<br> <br>

{% block content %}
<form action='jadwalout.html' method='POST'>
{% csrf_token %}

{{ form.as_p }}
<br />
<br>
<button type='submit' class='btn'>Submit</button>
</form>

{% endblock %}
</body>